@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --white-color: #fff;
  --dark-color: #222;
  --body-bg-color: #fff;
  --section-bg-color: #202834;
  --navigation-item-hover-color: #3b5378;

  --text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  --box-shadow: 0 5px 25px rgba(0 0 0 / 20%);

  --scroll-bar-color: #fff;
  --scroll-thumb-color: #282f4e;
  --scroll-thumb-hover-color: #454f6b;

}

img {
  max-width: 100%;
  height: auto;
}

.sec__one {
    position: relative;
    width: 100%;
    display: flex;
    padding: 60px 0;
}
.sec__one h1{
  text-align: center;
  display: block;
  margin: 0 auto;
  color: #07a8ff;
  font-family: 'Inter', sans-serif;
}
.navBar .logo img {
  float: left;
  max-height: 120px;
}
.is-active {
  /* color: #ff5800!important; */
}

.navBar .col-md-3 {
  z-index: 7;
}
ul.main-menu {
  border: 2px solid none;
  display: inline-flex;
  list-style: none;
  margin: 0px auto 0;
  padding: 0;
  float: right;
  z-index: 7;
  width: 100% !important;
}
ul.main-menu>li.menu-item:first-child {
  padding-left: 0;
  margin-left: 0;
}
.menu-item {
  border: 2px solid none !important;
  width: 100% !important;
  height: 1.8cm !important;
}

.menu-item .navlink {
  border: 2px solid none !important;
  width: 100% !important;
  top: -15%;
}



li {
  list-style-type: none;
}
.menu-item a {
  border: 2px solid none;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
  position: relative;
  display: block;
  color: white;
  margin: 27px 17px;
  text-decoration: none;
  cursor: pointer;
}
.header__middle__logo{
  border: 2px solid none;
  width: 15% !important;
}

.header__middle__logo img {
  border: 2px solid none;
  width: 100% !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
  transform: translateY(20%);
}

.header__middle__menus {
  border: 2px solid none;
  width: 80% !important;
}
.menu-item.menu__qqqitem a{
  margin: 27px 10px;
}
.header__middle__search {
  width: 7%;
  display: inline-block;
  padding: 36px 3px 27px 3px;
  border-left: 1px solid lavender;
}
.header__middle {
  border: 2px solid none;
  display: flex;
  width: 100%;
  float: left;
  border-bottom: 1px dashed lavender;
  position: fixed;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSF7VPr01jdxWTV9fK-y3gD10Nomz4JT3_xLQ&usqp=CAU); 
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  height: 2cm;
}
.header__middle__logo > a > h1 {
  color: #07a8ff;
  text-transform: uppercase;
  text-decoration: none;
}
/* .active{
  color: #ff1800!important;
} */
.header__middle__menus span.text {
  position: absolute;
  right: 177px;
  bottom: 10px;
  font-size: 14px;
  color: #ff1800;
}
.sub__menus__arrows{
  position: relative;
}
.sub__menus__arrows svg, .sub__menus__arrows__full svg{
  padding-top: 0px;
  position: absolute;
  top: 13px;
}
.sub__menus {
  position: absolute;
  display: none;	
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSF7VPr01jdxWTV9fK-y3gD10Nomz4JT3_xLQ&usqp=CAU); 
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  border: 1px solid lavender;
  width: 227px;
  left: -17px;
  padding: 2px 0 0 0;
  z-index: 1000;
  box-shadow: 0 10px 12px rgb(22 33 39 / 25%);
}

@media (max-width:767px) { 
  .header__middle .active {color: #ff3d00!important;}
}

@media (min-width:992px) { 
  .sub__menus__arrows:hover .sub__menus{
    display: block;
  }
  .sub__menus__arrows__full:hover .sub__menus{
    display: block;
    z-index: 1000000;
  }
}
.menu-item .sub__menus  a {
  border: 2px solid none !important;
  padding: 7px 0 0px 0;
  margin: 7px 27px;
}
.menu-item:hover > a{
  color: #07a8ff !important;
}
.menu-item .sub__menus li:hover a{
  color: #07a8ff !important;
}

.header__middle__logo img{
  max-width: 207px;
  margin: 17px 0 0 0;
}


@media(max-width:991px){
.header__middle__logo {
  width: 80% !important;
}

.header__middle__menus {
  width: 20% !important; 
  float: right !important;
}

.header__middle__logo img {
  max-width: 50%;
  margin: 27px 0 0 0;
}



.main-nav .menubar__button:hover {	
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSF7VPr01jdxWTV9fK-y3gD10Nomz4JT3_xLQ&usqp=CAU); 
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  color: white !important;
  transition: 0.5s ease;
  border: 2px solid pink !important
}

.main-nav .menu-item:hover > a {
  color: #07a8ff !important
}

.main-nav .menubar__button {
  display: block !important;
  float: right;
  background-color: white;
  color: black;
  padding: 6px 7px;
  border-radius: 5px;
  margin: 27px auto 0;
  cursor: pointer;
  position: relative;
  z-index: 10037;
}

.main-nav .menubar__button svg{
  font-size: 27px;
}

.main-nav ul.menuq2 {
  display: block !important;
  position: absolute;
  left: 0;
  z-index: 10007;
  background:  var(--white-color);
  border: 2px solid  var(--white-color);
  right: 0;
  padding-bottom: 17px;
  padding-top: 57px;
}

.main-nav .menu-item a {
  margin: 10px 17px;
  text-align: center;
  color: #000000;
}

.main-nav  ul.main-menu {
  display: none;
}

ul.main-menu {
  border: 2px solid none !important;
  margin-top: 20vh;
  width: 80%; 
  position: relative;
  background:  var(--white-color);
  max-width: 400px;
  display: grid;
  place-content: center;
  padding: 40px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  transform: 0.3s ease;
  border: 2px solid  var(--white-color);
  opacity: 1;
}

.main-nav .sub__menus__arrows:hover .sub__menus {
  margin: 0 auto;
  left: 0;
  right: 0;
}

.sub__menus__Active{
  display: block!important;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.sub__menus__Active2{
  display: block!important;
}

.menus__categorysss{
  display: none;
}

.menus__categorysss2{
  display: none;
}

.menu-item .sub__menus__full a {
  text-align: left;
}

}



@media (max-width: 1000px) {
  .header__middle {
    height: 2cm !important;
  }

  .menu-item {
    border: 2px solid none !important;
    width: 100% !important;
  }
  
}


.container {
  border: 2px solid none !important;
}