
  
  h1 {
    font-size: 20px !important;
  }

  .product-image {
    height: 6cm;
    object-fit: center;
    object-position: center;
    -o-object-fit: cover;
    -o-object-position: center;
    border: 1px solid none;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid none !important;
    text-align: center;
    font-family: arial;
    background-color: azure;
    filter: drop-shadow(2px 6px 12px azure);
    height: 11cm !important;
    width: 230px !important;
    padding: 2% !important;

  }

  .card .name {
    border: 1px solid none;
    width: 95%;
    margin: auto;
    margin-top: 2%;
    color: white;
    font-size: 16.5px;
    padding: 1.5%;
    text-align: left;
    font-weight: bolder !important;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
  }

  .card .description {
    border: 1px solid none;
    width: 95%;
    margin: auto;
    color: black;
    font-size: 11.5px;
    text-align: left;
    padding: 0.5%;
  }
  
  .card button {
    border: 1px solid none;
    width: 95%;
    outline: 0;
    padding: 5%;
    color: black;
    background-color: white;
    border-radius: 10%;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    transition: all .2s;
  }
  
  .card button:hover {
    background-color: #0b76af !important;
    border: 1px solid #0b76af;
  }
  
  .CarouselApp {
    border: 1px solid none;
    padding: 0% 1% 2.5% 0%;
  }


  @media (max-width: 800px) {

      
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      font-family: arial;
      background-color: azure;
      filter: drop-shadow(2px 6px 12px azure);
      height: 11cm !important;
      width: 100% !important;
      padding: 2% !important;

    }

  }